@{
    var skills = Model.Skills as List<BodyDataSkillSegmentSkillViewModel>;
}
@if (skills.Count > 0 || !string.IsNullOrEmpty(Model.DigitalSkill))
{
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                @foreach (var skill in skills)
                {
                    <li>
                        @Html.Raw(string.IsNullOrEmpty(skill.ContextualisedDescription) ? skill.StandardDescription : skill.ContextualisedDescription)
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.DigitalSkill))
                {
                    <li>@Model.DigitalSkill</li>
                }
            </ul>
        </div>
    </section>
}