@if (Model.HasSkills || !string.IsNullOrEmpty(Model.DigitalSkill))
{
    <section class="job-profile-subsection">
        <h3>Skills and knowledge</h3>
        <div class="job-profile-subsection-content">
            <p>You'll need:</p>
            <ul>
                @foreach (var skill in Model.Skills)
                {
                    <li>
                        @Html.Raw(string.IsNullOrEmpty(skill.ContextualisedSkill.Description) ? skill.OnetSkill.Description : skill.ContextualisedSkill.Description)
                    </li>
                }
                @if (!string.IsNullOrEmpty(Model.DigitalSkill))
                {
                    <li>@Model.DigitalSkill</li>
                }
            </ul>
        </div>
    </section>
}